
	.heading__sub-title {
		color: #2C77C5;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 0;
	}

	.heading__title {
		color: #2C77C5;
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.has-tip {
		color: #2d76c5;
	}