
	figure,
	ul {
		margin: 0;
	}



	.bullet-list {
		list-style: none;
		padding-left: 1.4rem;
		position: relative;
		margin-bottom: 1rem;
		&:before {
			background-color: #6fabe7;
			border-radius: 50%;
			content: "";
			height: 8px;
			left: 0;
			position: absolute;
			top: 10px;
			width: 8px;
		}
		ul li {
			&:before {
				background-color: #A5C5ED;
				height: 6px;
				width: 6px;
			}
		}
	}