
	.coverage__intro__date {
		margin-bottom: 1rem;
		margin-top: 3rem;
	}

	.coverage__intro__description {
		margin-bottom: 0;
	}

	.coverage__intro__select {
		max-width: 400px;
	}

	.coverage__intro__title {
		margin-bottom: 3rem;
	}