
	.features {
		padding: 3rem 0;
	}

	.features__contract {
		background-color: #af83c0;
		color: white;
		padding: 3rem 0;
		h3 {
			margin-bottom: 0;
		}
	}

	.features__main {
		padding: 3rem 0;
		li {
			margin-bottom: 1rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.features__main__more {
		margin: 1rem 0;
		p {
			margin-bottom: 0;
		}
	}

	.features__sub-title {
		margin-bottom: 3rem;
		text-transform: uppercase;
	}