
	.header {
		background-color: #8c51a1;
		position: relative;
		z-index: 10;
		.is-stuck {
			.header__logo {
				img {
					max-width: 200px;
				}
			}
		}
	}

	.header__columns {
		&:first-of-type {
			flex: 0 0 100%;
		}
		&:nth-of-type( 2 ) {
			flex: 0;
			height: 0;
			opacity: 0;
			transition: all .2s cubic-bezier( .4,0,.2,1 );
			visibility: hidden;
			width: 0;
			li {
				display: block;
				position: absolute;
				width: 100%;
				&:last-of-type {
					a {
						border-radius: 6px;
						border: 1px solid white;
						padding: 8px 14px;
						transition: all .2s cubic-bezier( .4,0,.2,1 );
						&:hover {
							background-color: #633971;
						}
					}
				}
			}
			&.visible {
				flex: 1 1 0;
				height: auto;
				opacity: 1;
				visibility: visible;
				width: auto;
				li {
					position: relative;
				}
			}
		}
	}

	.header__list {
		padding-left: 1rem;
		margin: 1rem 0;
	}

	.header__list-item {
		list-style: none;
		a {
			color: white;
			text-transform: uppercase;
		}
	}

	.header__logo {
		margin: 5px 0;
		img {
			transition: all .2s cubic-bezier( .4,0,.2,1 );
		}
	}

	.header__menu {
		cursor: pointer;
		position: absolute;
		right: 16px;
		top: 14px;
		text-align: center;
		i {
			color: white;
			font-size: 30px;
			&:last-of-type {
				display: none;
			}
		}
		&.visible {
			i {
				&:first-of-type {
					display: none;
				}
				&:last-of-type {
					display: inline-block;
				}
			}
		}
	}

	.header__row {
		position: relative;
	}

	@media screen and ( min-width: 48em ) {

		.header__columns {
			&:first-of-type {
				margin: 0 auto;
				max-width: 380px;
			}

			&:nth-of-type( 2 ) {
				ul {
					height: 25px;
				}
				li {
					display: inline-block;
					width: auto;
				}
			}
		}


		.header__list {
			margin: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.header__menu {
			line-height: 1;
			margin-top: -15px;
			right: 0;
			top: 50%;
			z-index: 10;
			&.visible {
				i {
					&:first-of-type {
						display: none;
					}
					&:last-of-type {
						display: none;
					}
				}
			}
		}
	}