
	.insurability {
		border-bottom: 4px solid #2d75c7;
		border-top: 4px solid #2d75c7;
		padding: 3rem 0;
	}

	.insurability__box {
		background-image: linear-gradient(to top, #D7D7D7 0%, #FFFFFF 100%);
		border: 1px solid #989898;
		padding: 1rem;
		text-align: left;
	}

	.insurability__box__desc {
		span {
			color: #4276b2;
			font-weight: bold;
		}
		&:nth-of-type( odd ) {
			margin-bottom: 0;
		}
	}

	.insurability__list-item__title {
		font-weight: bolder;
	}

	.insurability__row {
		.columns {
			&:first-of-type {
				margin-bottom: 1rem;
			}
		}
		&:nth-of-type( 2 ) {
			margin: 3rem auto;
			max-width: 800px;
		}
	}

	@media screen and ( min-width: 40em ) {

		.insurability__box {
			text-align: center;
		}

		.insurability__row {
			.columns {
				&:first-of-type {
					margin-bottom: 0;
				}
			}
		}

	}