
	.intro {
		border-bottom: 4px solid #2d75c7;
		box-shadow: none;
		position: relative;
	}

	.intro__bg {
		position: relative;
		text-align: center;
		img {
			object-fit: cover;
		}
	}

	.intro__button {
		margin-bottom: 0;
		h3{
			font-weight: 900;
			size: 24px;
			margin-bottom: 0;
		}
	}

	.intro__columns {
		margin: 0 0 0 auto;
		text-align: center;
		.heading__title {
			color: white;
			line-height: 1;
			font-size: 24px;
			&:first-of-type {
				letter-spacing: -2px;
			}
		}
		.heading__sub-title {
			color: white;
			font-size: 14px;
			font-weight: 400;
			line-height: 0.9;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}
	}

	.intro__header {
		bottom: 100px;
		padding: 1rem 0;
		position: relative;
		&:before {
			background-image: url( '../img/blur-image.png' );
			background-position: 1px 0;
			background-size: cover;
			bottom: 0;
			content: "";
			filter: blur(8px);
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
		.intro__columns {
			position: relative;
		}
	}

	.intro__content {
		background-color: rgba( 255,255,255,.7 );
		margin-top: -100px;
	}

	.intro__plan {
		padding: 1rem 0;
		.columns {
			padding-bottom: .5rem;
			position: relative;
		}
	}

	.intro__plan__description {
		color: #535548;
		margin-bottom: 2rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.intro__plan__sub-title {
		color: #4d7eb9;
		font-size: 13px;
		font-weight: bolder;
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
	}

	.intro__price {
		padding: 1rem 0;
	}

	.intro__price__amount {
		color: #724085;
		font-weight: bolder;
		line-height: 1;
		margin-bottom: 0;
		.price-peso {
			display: block;
			font-size: 35px;
		}
		.pricePeso {
			font-size: 70px;
		}
		& > .intro__price__second-amount {
			display: block;
			margin: 0 auto;
			max-width: 226px;
		}
		.intro__price__second-amount {
			color: #333;
			font-size: 18px;
			font-weight: 600;
			text-align: right;
		}
	}

	.intro__price__plan {
		margin-top: 1rem;
	}

	.intro__price__sub-title {
		color: #4F7CBA;
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		margin-top: 2rem;
		padding-left: 0;
	}

	.intro__price__sub-amount {
		font-weight: bold;
	}

	.intro__price__title {
		font-weight: bold;
		margin-bottom: 0;
		margin-left: -66px;
		text-transform: uppercase;
	}
	.contract__price__button  h3{
		font-size: 24px;
		font-weight: 900;
		margin: 0 50px;
		line-height: 1.2;
	}
	.contract__price__button em{
		font-weight: 400;
		margin: 10px 0 0 0;
		text-transform: none;
	}

	@media screen and ( min-width: 40em ) {
		.intro {
			border-bottom: 0;
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		}
		.intro__bg {
			&:before {
				background: rgba(0,0,0,.2);
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
			img {
				height: 1000px;
			}
		}
		.intro__columns {
			margin: 0 0 0 auto;
			text-align: center;
			.heading__title {
				color: white;
				line-height: 1;
				font-size: 34px;
				&:first-of-type {
					letter-spacing: -2px;
				}
			}
			.heading__sub-title {
				color: white;
				font-size: 24px;
				font-weight: 400;
				line-height: 0.9;
				margin-bottom: 0.5rem;
				text-transform: uppercase;
			}
		}


		.intro__content {
			bottom: 0;
			left: 0;
			margin-top: 0;
			position: absolute;
			right: 0;
		}

		.intro__header {
			left: 0;
			position: absolute;
			right: 0;
			top: 9rem;
			&:before {
				background-image: none;
				background-position: 0;
				filter: blur(0);
			}
		}

		.intro__plan {
			.columns {
				padding-bottom: 1rem;
			}
		}

		.intro__plan__sub-title {
			color: #535548;
		}


		.intro__price__amount {
			padding-left: 50px;
		}


		.intro__price__plan {
			margin-top: 0;
		}

		.intro__price__sub-amount {
			padding-left: 9rem;
		}

		.intro__price__sub-title {
			padding-left: 40px;
		}
	}