
	.intro {
		background-image: url( '../img/banner.jpg' );
		background-size: cover;
		padding: 3rem 0 0;
		position: relative;
		&:before {
			background: rgba(0,0,0,.2);
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.intro__button {
		margin-bottom: 0;
		h3,
		p {
			margin-bottom: 0;
		}
	}

	.intro__columns {
		margin: 0 0 0 auto;
		text-align: center;
		.heading__title {
			color: white;
			line-height: 1;
			&:first-of-type {
				letter-spacing: -2px;
			}
		}
		.heading__sub-title {
			color: white;
			font-size: 26px;
			font-weight: 100;
			line-height: 1.2;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}
	}

	.intro__header {
		padding: 3rem 0 9rem;
		position: relative;
	}

	.intro__content {
		background-color: rgba( 255,255,255,.7 );
	}

	.intro__plan {
		padding: 1rem 0;
		.columns {
			position: relative;
		}
	}

	.intro__plan__description {
		color: #535548;
		margin-bottom: 2rem;
	}

	.intro__plan__sub-title {
		color: #535548;
		font-size: 13px;
		font-weight: bolder;
		text-transform: uppercase;
	}

	.intro__price {
		padding: 3rem 0;
	}

	.intro__price__amount {
		color: #724085;
		font-size: 70px;
		font-weight: bolder;
		line-height: 1;
		margin-bottom: 0;
		span {
			font-size: 35px;
		}
	}

	.intro__price__sub-amount {
		font-weight: bold;
	}

	.intro__price__title {
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	@media screen and ( min-width: 48em ) {
		.intro__price__sub-amount {
			padding-left: 9rem;
		}
	}