
	.intro__header {
		padding: 3rem 0;
	}

	.intro__plan {
		background-color: rgba( 255,255,255,.7 );
		padding: 3rem 0;
	}

	.intro__plan__description {
		margin-bottom: 3rem;
	}

	.intro__plan__sub-title {
		font-weight: bolder;
		text-transform: uppercase;
	}

	.intro__price__amount {
		color: #724085;
		font-size: 70px;
		font-weight: bolder;
		line-height: 1;
		margin-bottom: 0;
		span {
			font-size: 35px;
		}
	}

	.intro__price__sub-amount {
		font-weight: bold;
	}

	.intro__price__title {
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	@media screen and ( min-width: 48em ) {
		.intro__price__sub-amount {
			padding-left: 9rem;
		}
	}