
	.maps {
		padding: 6rem 0 0;
		.tabs {
			border: 0;
		}
		.tabs-title {
			float: none;
			display: inline-block;
			a {
				background-color: #999;
				color: white;
				font-size: 14px;
				line-height: 1.2;
			}
		}
		.tabs-title > a:focus,
		.tabs-title > a[aria-selected='true'] {
			background-color: #7d3d93;
		}
	}

	.maps__doubt {
		background-color: #2b77c5;
		color: white;
		padding: 3rem 0;
	}

	.maps__doubt__desc {
		a {
			border-bottom: 1px solid white;
			color: white;
			padding-bottom: .4rem;
		}
	}

	.maps__row {
		.columns {
			&:nth-of-type( 2 ) {
				margin-bottom: 1rem;
			}
		}
	}

	.maps__tabs__list-item {
		&:first-of-type {
			a {
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
			}
		}
		&:last-of-type {
			a {
				border-bottom-right-radius: 6px;
				border-top-right-radius: 6px;
			}
		}
	}

	.maps__title {
		margin-bottom: 3rem;
	}