
	.map {
	  width: 100%;
	  height: 700px;
	  background-color: grey;
	  margin-bottom: 3rem;
	  border: 1px solid #ccc;
	}

	.maps {
		padding: 3rem 0 0;
		.tabs {
			border: 0;
		}
		.tabs-panel {
			padding: 0;
		}
		.tabs-title {
			float: none;
			display: inline-block;
			a {
				background-color: #999;
				color: white;
				font-size: 14px;
				line-height: 1;
			}
		}
		.tabs-title > a:focus,
		.tabs-title > a[aria-selected='true'] {
			background-color: #7d3d93;
		}
	}

	.maps__doubt {
		background-color: #2b77c5;
		color: white;
		padding: 1rem 0;
	}

	.maps__doubt__desc {
		a {
			border-bottom: 1px solid white;
			color: white;
			padding-bottom: .4rem;
		}
	}

	.maps__tabs__list-item {
		border-right: 1px solid white;
		&:last-of-type {
			border-right: 0;
		}
	}

	.maps__main {
		position: relative;
	}

	.maps__main__menu {
		background-color: #3c6eb2;
		position: absolute;
		right: 0;
		top: 0;
		width: 332px;
		z-index: 1;
		li {
			list-style: none;
			a {
				border-bottom: 1px solid #9eb7d9;
				color: #fff;
				display: block;
				font-size: 12px;
				padding: 5px 20px;
				&:hover {
					background-color: #8c53a1;
				}
			}
		}
		.close {
			color: white;
			cursor: pointer;
			padding: 2px 5px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.content {
			display: none;
		}
		.titulo {
	    color: #fff;
	    font-size: 26px;
	    padding: 20px;
	    position: relative;
		}
	}

	.maps__row {
		.columns {
			&:nth-of-type( 2 ) {
				margin-bottom: 1rem;
			}
		}
	}

	.maps__tabs__list-item {
		&:first-of-type {
			a {
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
			}
		}
		&:last-of-type {
			a {
				border-bottom-right-radius: 6px;
				border-top-right-radius: 6px;
			}
		}
	}

	.maps__title {
		margin-bottom: 3rem;
	}