
	<section class="contract">
		<div class="row">
			<h2 class="heading__title">¿Listo para contratar?</h2>
			<p>El valor de tu póliza dependerá del tipo de seguro seleccionado, la cantidad de asegurados y la edad del asegurado de mayor edad.</p>
		</div>
		<div class="row">
			<div class="columns small-4">
				<h3 class="heading__sub-title">Tipo de seguro</h3>
				<select name="" id="">
					<option value="">Seguro gasto médico mayor</option>
				</select>
			</div>
			<div class="columns small-4">
				<h3 class="heading__sub-title">Cantidad de asegurados:</h3>
				<select name="" id="">
					<option value="">Titular sin asegurados dependientes</option>
				</select>
			</div>
			<div class="columns small-4">
				<h3 class="heading__sub-title">Edad del asegurado de mayor edad:</h3>
				<select name="" id="">
					<option value="">Entre 18 y 64 años</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="intro__price">
				<h3 class="intro__price__title">Llévalo por solo:</h3>
				<p class="intro__price__amount"><span>$</span>10.395</p>
				<p class="intro__price__sub-amount">UF 0,399</p>
				<a href="" class="btn">
					<h3>Contrátalo en línea</h3>
					<p><em>Y obtén 3 meses de cobertura sin costo</em></p>
				</a>
			</div>
		</div>



		<div class="row">
			<ul>
				<li>
					<p>La prima mensual es en UF y en el caso de grupos familiares, la prima será calculada en base al segurado de mayor edad dentro del grupo familiar asegurado.</p>
				</li>
				<li>
					<p>Cada vez que el asegurado de mayor edad dentro del grupo familiar cambie de tramo de edad, el monto de la prima se ajustará según plan contratado en los términos que se establecen en la tabla. Igual ajuste se efectuará cada vez que se modfique el número de asegurados dependientes cubiertos por el seguro.</p>
				</li>
			</ul>
		</div>
	</section>