
	<section class="contract" id="contract" data-magellan-target="contract">
		<div class="row">
			<div class="columns text-center">
				<h2 class="contract__title heading__title">¿Listo para contratar?</h2>
				<p class="contract__desc">El valor de tu plan dependerá del tipo de seguro seleccionado, la cantidad de asegurados y la edad del asegurado de mayor edad.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12 large-4">
				<h4 class="contract__sub-title">Tipo de seguro</h4>
				<select name="" id="secure2" class="secure">
					<option value="secureMayor">Gastos médicos mayores</option>
					<option value="secureMayorMore">Gastos médicos mayores + Complementario</option>
				</select>
			</div>
			<div class="columns small-12 large-4">
				<h4 class="contract__sub-title">Cantidad de asegurados:</h4>
				<select name="" id="secureCan2" class="secureCan">
					<option value="titular1"
						data-uf18="0.399"
						data-uf25="0.523"
						data-uf35="0.574"
						data-uf40="0.630"
						data-uf45="1.030"
						data-uf50="1.481"
						data-uf55="2.050"
						data-uf60="2.750"
						data-more-uf18="1.286"
						data-more-uf25="1.411"
						data-more-uf35="1.461"
						data-more-uf40="1.517"
						data-more-uf45="1.917"
						data-more-uf50="2.368"
						data-more-uf55="2.937"
						data-more-uf60="3.637">
						Titular sin asegurados dependientes
					</option>
					<option value="titular2"
							data-uf18="0.686"
							data-uf25="0.903"
							data-uf35="0.995"
							data-uf40="1.162"
							data-uf45="1.816"
							data-uf50="2.660"
							data-uf55="3.800"
							data-uf60="5.635"
							data-more-uf18="2.133"
							data-more-uf25="2.350"
							data-more-uf35="2.442"
							data-more-uf40="2.609"
							data-more-uf45="3.263"
							data-more-uf50="4.107"
							data-more-uf55="5.247"
							data-more-uf60="7.082">
							Titular más un asegurado dependiente
					</option>
					<option value="titular3"
							data-uf18="0.850"
							data-uf25="1.122"
							data-uf35="1.238"
							data-uf40="1.436"
							data-uf45="2.274"
							data-uf50="3.352"
							data-uf55="4.841"
							data-uf60="7.407"
							data-more-uf18="2.558"
							data-more-uf25="2.830"
							data-more-uf35="2.946"
							data-more-uf40="3.144"
							data-more-uf45="3.982"
							data-more-uf50="5.060"
							data-more-uf55="6.549"
							data-more-uf60="9.116">
							Titular más dos asegurados dependientes
					</option>
					<option value="titular4"
							data-uf18="0.973"
							data-uf25="1.284"
							data-uf35="1.417"
							data-uf40="1.636"
							data-uf45="2.609"
							data-uf50="3.853"
							data-uf55="5.582"
							data-uf60="8.617"
							data-more-uf18="2.871"
							data-more-uf25="3.182"
							data-more-uf35="3.315"
							data-more-uf40="3.533"
							data-more-uf45="4.506"
							data-more-uf50="5.751"
							data-more-uf55="7.479"
							data-more-uf60="10.514">
							Titular más tres asegurados dependientes
					</option>
				</select>
			</div>
			<div class="columns small-12 large-4">
				<h4 class="contract__sub-title">Edad del asegurado de mayor edad:</h4>
				<select name="" id="secureDate3" class="secureDate">
					<option value="18">Entre 18 años - 24 años y 364 días</option>
					<option value="25">Entre 25 años - 34 años y 364 días</option>
					<option value="35">Entre 35 años - 39 años y 364 días</option>
					<option value="40">Entre 40 años - 44 años y 364 días</option>
					<option value="45">Entre 45 años - 49 años y 364 días</option>
					<option value="50">Entre 50 años - 54 años y 364 días</option>
					<option value="55">Entre 55 años - 59 años y 364 días</option>
					<option value="60">Entre 60 años - 69 años y 364 días</option>
				</select>
			</div>
		</div>

		<div class="row contract__price__plan__free">
			<div class="columns contract__price__plan__value text-center">
				<div class="intro__price__plan">
					<h3 class="intro__price__title">Precio de tu plan</h3>
					<p class="intro__price__amount"><span class="price-peso">$ <span class="pricePeso"></span></span><span class="intro__price__second-amount">UF <span class="intro__price__second-amount priceUF"></span> / MES</span></p>
					<p class="intro__price__sub-title">Puedes ahorrar $ <span class="priceSave">$ 33.185</span></p>
				</div>
			</div>
			<div class="columns small-12 text-center">
				<!-- Cobertura -->
				<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
					<h3>Contrata en línea</h3>
					<p><em>Y obtén 3 primeros meses de Seguro sin costo</em></p>
				</a>

				<!-- Cobertura + complementario -->
				<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore contract__price__button button">
					<h3>Contrata en línea</h3>
					<p><em>Y obtén 3 primeros meses de Seguro sin costo</em></p>
				</a>
				<!-- End cobertura + complementario -->
			</div>
			
		</div>

		

		<div class="row contract__features">
			<div class="columns">
				<ul class="contract__list">
					<li class="contract__list-item bullet-list">
						<p><sup>(1)</sup>Esta cotización es referencial. Los valores podrían variar de acuerdo al grupo familiar y las edades de los asegurados.<br/>
						Valor referencial en pesos calculado en base al valor de UF 26.329,30 del día 9 de diciembre de 2016.</p>
					</li>
					<li class="contract__list-item bullet-list">
						<p>La prima mensual es en UF y en el caso de grupos familiares, será calculada en base al asegurado de mayor edad dentro del grupo familiar asegurado.</p>
					</li>
					<li class="contract__list-item bullet-list">
						<p>Cada vez que el asegurado de mayor edad dentro del grupo familiar cambie de tramo de edad, el monto de la prima se ajustará según plan contratado en los términos que se establecen en la tabla. Igual ajuste se efectuará cada vez que se modifique el número de asegurados dependientes cubiertos por el seguro.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>