
	<section class="contract">
		<div class="row">
			<div class="columns text-center">
				<h2 class="contract__title heading__title">¿Listo para contratar?</h2>
				<p class="contract__desc">El valor de tu póliza dependerá del tipo de seguro seleccionado, la cantidad de asegurados y la edad del asegurado de mayor edad.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-4">
				<h4 class="contract__sub-title">Tipo de seguro</h4>
				<select name="" id="secure2" class="secure">
					<option value="secureMayor">Seguro gasto médico mayor</option>
					<option value="secureMayorMore">Seguro gasto médico mayor + Complementario</option>
				</select>
			</div>
			<div class="columns small-4">
				<h4 class="contract__sub-title">Cantidad de asegurados:</h4>
				<select name="" id="secureCan2" class="secureCan">
					<option value="titular1">Titular sin asegurados dependientes</option>
					<option value="titular2">Titular más un asegurado dependiente</option>
					<option value="titular3">Titular más dos asegurados dependientes</option>
					<option value="titular4">Titular más tres asegurados dependientes</option>
					<option value="titular5">Titular más cuatro asegurados dependientes</option>
				</select>
			</div>
			<div class="columns small-4">
				<h4 class="contract__sub-title">Edad del asegurado de mayor edad:</h4>
				<select name="" id="secureDate3" class="secureDate">
					<option value="18">Entre 18 y 64 años</option>
					<option value="65">Entre 65 y 69 años</option>
					<option value="70">Entre 70 y 80 años</option>
					<option value="81">Entre 81 y 89 años</option>
					<option value="90">90 años hasta cumplir 100</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="columns text-center">
				<div class="intro__price">
					<h3 class="intro__price__title">Llévalo por solo:</h3>
					<p class="intro__price__amount"><span>$</span>10.395</p>
					<p class="intro__price__sub-amount">UF 0,399</p>
					<a href="" class="contract__price__button button">
						<h3>Contrátalo en línea</h3>
						<p><em>Y obtén 3 meses de cobertura sin costo</em></p>
					</a>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="columns">
				<ul class="contract__list">
					<li class="contract__list-item bullet-list">
						<p>La prima mensual es en UF y en el caso de grupos familiares, la prima será calculada en base al segurado de mayor edad dentro del grupo familiar asegurado.</p>
					</li>
					<li class="contract__list-item bullet-list">
						<p>Cada vez que el asegurado de mayor edad dentro del grupo familiar cambie de tramo de edad, el monto de la prima se ajustará según plan contratado en los términos que se establecen en la tabla. Igual ajuste se efectuará cada vez que se modfique el número de asegurados dependientes cubiertos por el seguro.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>