
	<section class="coverage">
		<div class="coverage__row row">
			<div class="coverage__columns columns">
				<h2 class="coverage__title heading__title">Coberturas</h2>
				<p>Las coberturas dependen de la edad del segurado o de sus cargas y del plan seleccionado. Para conocer cuáles son tus coberturas cuéntanos primero, cuál es tu edad y que seguro tienes pensado contratar.</p>
				<p><em>¿Qué edad tiene la persona de mayor edad que quieres incluir en este seguro?</em></p>
				<select name="" id="">
					<option value="">Entre 18 y 64 años</option>
					<option value="">Más 64 años</option>
				</select>
				<p><em>¿Quieres ampliar tu cobertura con un <a href="">seguro complementario</a>?</em></p>
				<div class="">
					<input type="checkbox" id="interest">
					<label for="interest">Si, me interesa ampliar mi cobertura con un seguro complementario.</label>
				</div>
				<div class="">
					<input type="checkbox" id="no_interest">
					<label for="no_interest">No, gracias.</label>
				</div>
			</div>
			<section class="row">
				<div class="columns medium-3">
					<p>Capital</p>
					<p>Asegurado</p>
					<div id="capital">UF 36.000</div>
				</div>
				<div class="columns medium-3">
					<p>Deducible</p>
					<div id="deductible">UF 60</div>
				</div>
				<div class="columns medium-3">
					<p>Enfermedades con</p>
					<p>deducible diferenciado <i class="icon"></i></p>
					<div id="deductibleSick">UF 0</div>
				</div>
			</section>
		</div>
	</section>