
	<section class="coverage" id="coverage" data-magellan-target="coverage">
		<section class="coverage__intro">
			<div class="row">
				<div class="columns text-center">
					<h2 class="coverage__intro__title heading__title">Coberturas</h2>
					<p class="coverage__intro__description">Las coberturas dependen de la edad del asegurado y del plan seleccionado.</p>
					<p class="coverage__intro__date"><em>Indica tu edad o de la persona que deseas asegurar</em></p>
					<select name="" id="secureDate2" class="secureDateCoverage">
						<option value="18">18 años hasta cumplir 50 años</option>
						<option value="50">50 años hasta cumplir 70 años</option>
						<option value="70">70 años hasta cumplir 81 años</option>
						<option value="81">81 años hasta cumplir 90 años</option>
						<option value="90">90 años hasta cumplir 100 años</option>
						<option value="1865">18 años hasta cumplir 65 años</option>
					</select>
				</div>
			</div>
		</section>


		<section class="coverage__list">
			<div class="coverage__list__row row text-center align-bottom">
				<div class="columns small-12 medium-3">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Capital</p>
							<p class="coverage__list__row__desc">Asegurado</p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">UF
								<span id="capital"
									data-cvuf18="36000"
									data-cvuf50="36000"
									data-cvuf70="3500"
									data-cvuf81="3500"
									data-cvuf90="3500"
									data-cvuf1865="0.06"></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-3">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Deducible</p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">UF
								<span id="deductible"
									data-cvuf18="60"
									data-cvuf50="60"
									data-cvuf70="200"
									data-cvuf81="300"
									data-cvuf90="400"
									data-cvuf1865="2"></span>
							</h3>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-6">
					<div class="row coverage__list__sub-row align-middle">
						<div class="columns small-6 medium-12">
							<p class="coverage__list__row__desc">Enfermedades con</p>
							<p class="coverage__list__row__desc">deducible diferenciado <i data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Cáncer, Accidente Vascular Cerebral, Infarto al Miocardio, Insuficiencia Renal Crónica, Angioplastía, Injerto Aórtico, Cirugía de Válvulas Cardiacas, Transplante de órganos mayores y Alzheimer." class="has-tip top fa fa-info-circle" aria-hidden="true"></i></p>
						</div>
						<div class="columns small-6 medium-12">
							<h3 class="coverage__list__row__title">
								<span id="deductibleSick"
									data-cvuf18="Sin deducible"
									data-cvuf50="Todas con deducible"
									data-cvuf70="Todas con deducible"
									data-cvuf81="Todas con deducible"
									data-cvuf90="Todas con deducible"></span>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Cobertura -->

		<section class="changeCoverage coverage__features">
			<div class="row" data-accordion>
				<div class="coverage__features__columns columns small-12 medium-6 is-active"  data-accordion-item>
					<a href="#" class="accordion-title"><img src="{{root}}/assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-520613914.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-hospitalaria.svg" />
								<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">100%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Días cama, Servicios hospitalarios / Medicamentos Hospitalarios, Honorarios médicos quirúrgicos, Prótesis y Órtesis Quirúrgicas, Cirugía dental y Cirugía Plástica Reparadora por accidente, Complicaciones del Embarazo, <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Para la prestación de servicio de enfermera el tope será de 30 días por evento.">Servicio de enfermera</span> y <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Para la prestación de ambulancia terrestre el tope será de UF 10 por evento, y con un máximo de 3 eventos por año.">Servicio de ambulancia terrestre.</span></p>
									<p>Drogas antineoplásicas, Drogas Inmunosupresoras para trasplante de órganos, <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Para la prestación de ambulancia aérea en caso de riesgo vital, el tope será de UF 10 por evento y con un máximo de 3 eventos por año">Ambulancia Aérea.</span></p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">50%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Pacientes Fonasa, si Fonasa no cubra al menos el 50%</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">25%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Sin cobertura plan del Sistema Previsional de Salud</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="coverage__features__columns columns small-12 medium-6"  data-accordion-item>
					<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-470764758.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-ambulatoria.svg" />
								<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">100%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Cirugía Ambulatoria, Consultas Médicas, Exámenes de Laboratorio, Exámenes Imagenología y Procedimientos de Diagnósticos, Terapéuticos, Kinesiología, Prótesis y Ortesis Ambulatoria</p>
									<p>Drogas antineoplásicas, Drogas Inmunosupresoras para trasplante de órganos.</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">50%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Pacientes Fonasa, si Fonasa no cubra al menos el 50%</p>
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="La prestación de medicamentos ambulatorios es sólo para fármacos directamente relacionados y necesarios para el tratamiento de la patología que activó el pago de beneficios de este seguro, que se encuentre cubierta por esta póliza y haya sido diagnosticada por el médico tratante, excepto el Síndrome de Inmunodeficiencia Adquirida (SIDA) para el cual, se excluyen las prestaciones Ambulatorias">Medicamentos Ambulatorios</span></p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">25%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p>Sin cobertura plan del Sistema Previsional de Salud</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="coverage__features__footer">
					<p><em><br>Carencia de 30 días desde la fecha de inicio de vigencia del asegurado en la póliza, rige sólo para enfermedades, no así para accidentes.</em></p>
				</div>
			</div>


			<section class="coverage__more">
				<div class="row">
					<div class="columns text-center">
						<div class="coverage__more__content">
							<h3 class="coverage__more__content__title">¿Quieres ampliar tu cobertura</h3>
							<p class="coverage__more__content__desc">con un seguro complementario de salud desde $33.930 (UF 1.113) mensual?</p>
							<a href="" class="wrapperAnimate coverage__more__content__button button large getMayorMore">Amplia tu cobertura</a>
						</div>
					</div>
				</div>
			</section>
		</section>


		<!-- Cobertura complementaria -->

		<section class="changeCoverageMore coverage__features">
			<div class="coverage__features__title text-center">
				<h3 class="heading__title">Cobertura Complementaria</h3>
			</div>
			<div class="row" data-accordion>
				<div class="coverage__features__columns columns small-12 medium-6 is-active"  data-accordion-item>
					<a href="#" class="accordion-title"><img src="{{root}}/assets/img/hospitalaria.png" alt="Logotipo Hospitalarias"> Coberturas hospitalarias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-520613914.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-hospitalaria.svg" />
								<h4 class="coverage__features__image__title"> Coberturas Hospitalarias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">idem % de reembolso efectivo de Isapre o Fonasa</h4>
								</div>
								<div class="columns small-9">
									<p>Medicamentos Hospitalarios, materiales clínicos, exámenes y procedimientos, derecho a pabellón, honorario médicos quirúrgicos y servicio de ambulancia <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Los topes de cada cobertura no podrán ser superiores al tope anual por beneficiario, UF 60.">sin tope máximo por prestación</span> y sin tope máximo anual por beneficiario.</p>
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Tope máximo de cama 30 días por evento">Día Cama*</span>, Día Cama Sala Cuna* Día Incubadora*, Día Cama Recuperación* y Día Cama Uti/Uci/Coronaria/Intermedia<br>
										<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Los topes de cada cobertura no podrán ser superiores al tope anual por beneficiario, UF 60">Tope máximo por prestación UF 3</span> sin tope máximo anual por beneficiario.</p>
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Tope máximo por Prestación UF 20 Sin Tope máxmimo anual por beneficiario*">Parto Normal</span></p>
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Tope máximo por Prestación UF 30 Sin Tope máxmimo anual por beneficiario*">Cesárea</span></p>
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Tope máximo por Prestación UF 10 Sin Tope máxmimo anual por beneficiario*">Aborto no provocado</span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="coverage__features__columns columns small-12 medium-6"  data-accordion-item>
					<a href="#" class="accordion-title"><img src="{{root}}/assets/img/ambulatoria.png" alt="Logotipo ambulatoria"> Coberturas Ambulatorias</a>
					<div class="coverage__features__tab-content" data-tab-content>
						<figure class="coverage__features__image show-for-medium">
							<img src="assets/img/iStock-470764758.jpg" alt="">
							<figcaption class="coverage__features__image-caption">
								<img src="assets/img/ico_cobertura-ambulatoria.svg" />
								<h4 class="coverage__features__image__title">Coberturas Ambulatorias</h4>
							</figcaption>
						</figure>
						<ul class="coverage__features__list">
							<li class="coverage__features__list-item row">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">idem % de reembolso efectivo de Isapre o Fonasa</h4>
								</div>
								<div class="columns small-9">
									<p>Exámenes de laboratorio, exámenes radiológicos, procedimientos de diagnósticos no quirúrgicos, procedimientos quirúrgicos, fonoaudiología, kinesiología, medicina física, procedimientos terapéutios no quirúrgicos
									<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Los topes de cada cobertura no podrán ser superiores al tope anual por beneficiario, UF 60.">sin tope máximo por prestación</span> y sin tope máximo anual por beneficiario.</p>
									<p>Consultas médicas.
									<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Los topes de cada cobertura no podrán ser superiores al tope anual por beneficiario, UF 60.">Tope máximo por prestación UF 1</span> sin tope máximo anual por beneficiario.</p>
								</div>
							</li>
							<li class="coverage__features__list-item row align-middle">
								<div class="columns small-3">
									<h4 class="coverage__features__list__title">Hasta</h4>
									<p class="coverage__features__list__percentage">10%</p>
									<h4 class="coverage__features__list__title">De reembolso</h4>
								</div>
								<div class="columns small-9">
									<p><span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Los medicamentos asociados al Síndrome de Inmunodeficiencia Adquirida (SIDA) para el cual se excluyen las prestaciones Ambulatorias">Medicamentos.</span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="coverage__features__footer">
					<p><em><br>Carencia de 30 días desde la fecha de inicio de vigencia del asegurado en la póliza, rige sólo para enfermedades, no así para accidentes.</em></p>
				</div>
			</div>

			<!-- End Cobertura complementaria -->

		</section>
	</section>