


	<section class="features">
		<div class="features__row row">
			<div class="features__columns columns">
				<h3 class="features__sub-title heading__sub-title">Te presentamos el</h3>
				<h2 class="features__title heading__title">Seguro de gasto médico mayor</h2>
				<figure class="features__image">
					<img src="" alt="">
				</figure>
				<p>Una enfermedad o accidente es, por sí sola, una situación difícil de enfrentar. Si se le suma el costo económico, ésta puede convertirse en una catástrofe para el presupuesto familiar. Pensando en ello, <strong>Red de Salud UC CHRISTUS</strong> en conjunto con <strong>Metlife Chile Seguros de Vida S.A.</strong> han creado un Seguro de gasto médico mayor, especialmente diseñado para protegerte de la catástrofe económica que puede significar un accidente o enfermedad de alto costo.</p>
				<h3 class="features__sub-title heading__sub-title">Principales características del seguro</h3>
			</div>



			<section class="row">
				<div class="medium-6 columns">
					<ul>
						<li>La mayor cobertura en Seguro Catastrófica de Clínicas, capital asegurado UF 36.000 por evento.</li>
						<li>Cobertura para pacientes Fonasa e Isapres.</li>
					</ul>
				</div>
				<div class="medium-6 columns">
					<ul>
						<li>Deducible UF 60 por evento y asegurado, y sin deducible para las principales enfermedades graves hasta los 50 años de edad.</li>
						<li>Cobertura hasta cumplir los 100 años de edad.</li>
					</ul>
				</div>
				<p><i class="icon"></i> <em>Además puedes ampliar tu cobertura con un seguro complementario</em></p>
			</section>


			<section class="row">
				<div class="columns">
					<h3>¿Listo para contratar?</h3>
					<p>Obtén 3 meses de cobertura sin costo sólo contratando en línea</p>
					<a href="" class="btn">Contrátalo ahora</a>
				</div>
			</section>
		</div>
	</section>