
	<div id="wrapper" class="wrapper">
		<div id="loading" class="loading">
			<div class="columns">
				<h3 class="text-center">Cargando información</h3>
				<div class="loader">Loading...</div>
			</div>
		</div>
		<section class="features" id="features" data-magellan-target="features">
			<section class="changeCoverage features__header z-depth-1">
				<div class="row">
					<div class="features__heading columns small-12">
						<h4 class="heading__sub-title text-center">Conoce más sobre el</h4>
						<h2 class="heading__title text-center">Seguro de gastos médicos mayores</h2>
					</div>
					<div class="columns small-12">
						<p>Una enfermedad o accidente es, por sí sola, una situación difícil de enfrentar. Si se le suma el costo económico, ésta puede convertirse en una catástrofe para el presupuesto familiar. Pensando en ello, <strong>Red de Salud UC CHRISTUS</strong> en conjunto con <strong>Metlife Chile Seguros de Vida S.A.</strong> han creado  un seguro de salud para gastos médicos mayores, especialmente diseñado para protegerte con el respaldo de la medicina UC.</p>
					</div>
					<div class="columns small-12 medium-6">
						<h5 class="features__sub-title heading__sub-title text-center">Principales características del seguro</h5>
						<ul class="features__list">
							<li class="features__list-item bullet-list">La mayor cobertura en Seguro Catastrófico de Clínicas, capital asegurado UF 36.000 por evento.</li>
							<li class="features__list-item bullet-list">Cobertura para pacientes Fonasa e Isapres.</li>
							<li class="features__list-item bullet-list">Deducible UF 60 por evento y asegurado, y sin deducible para las principales enfermedades graves hasta los 50 años de edad.
							<ul class="features__list">
								<li class="bullet-list">Cáncer</li>
								<li class="bullet-list">Accidente vascular cerebral</li>
								<li class="bullet-list">Infarto al miocardio</li>
								<li class="bullet-list">Insuficiencia renal crónica</li>
								<li class="bullet-list">Angioplastía por balón</li>
								<li class="bullet-list">Injerto aórtico</li>
								<li class="bullet-list">Cirugía de válvulas cardiacas</li>
								<li class="bullet-list">Trasplante de órganos mayores</li>
								<li class="bullet-list">Alzherimer</li>
							</ul>
							</li>
							<li class="features__list-item bullet-list">Cobertura hasta cumplir los 100 años de edad.</li>
						</ul>
						<div class="row features__umbrella__row align-middle">
							<div class="columns small-12 medium-1">
								<img src="{{root}}/assets/img/shape.png" alt="">
							</div>
							<div class="columns small-12 medium-11">
								<h5 class="features__umbrella"> <em>Amplia tu plan con el <a href="" class="wrapperAnimate getMayorMore">seguro complementario de salud</a> para estar cubierto en gastos menores.</em></h5>
							</div>
						</div>
					</div>
					<div class="columns small-12 medium-6 show-for-medium text-right">
						<img src="assets/img/medico_uc.jpg" />
					</div>
				</div>
			</section>

			<section class="changeCoverageMore features__header z-depth-1">
				<div class="row">
					<div class="features__heading columns small-12">
						<h4 class="heading__sub-title text-center">Conoce más sobre el</h4>
						<h2 class="heading__title text-center">SEGURO DE GASTOS MÉDICOS MAYORES <br>+ COMPLEMENTARIO DE SALUD</h2>
					</div>
					<div class="columns small-12">
						<p>Red de Salud UC CHRISTUS, en conjunto con Metlife Chile Seguros de Vida S.A., ha creado un seguro para protegerte frente a una catástrofe económica de alto costo y apoyarte en los gastos de menores como consultas médicas, exámenes y procedimientos para paciente con sistema de salud ISAPRE o FONASA.</p>
					</div>
					<div class="columns small-12 medium-6">
						<h5 class="features__sub-title heading__sub-title text-center">Principales características del seguro</h5>
						<h6><strong>Gastos Médicos Mayores</strong></h6>
						<ul class="features__list">
							<li class="features__list-item bullet-list"><strong>La mayor cobertura en Seguro Catastrófico</strong> de Clínicas, con un capital asegurado de UF 36.000 por evento y un <strong>deducible de UF 60 por evento</strong> y asegurado.</li>
						</ul>
						<h6><strong>Complementario de Salud</strong></h6>
						<ul class="features__list">
							<li class="features__list-item bullet-list">Amplia la cobertura del seguro de gastos médicos mayores con un seguro complementario.</li>
							<li class="features__list-item bullet-list">Cubre UF 60 al año póliza y por asegurado con un deducible de acumulación anual de UF 2 por asegurado con un tope de UF 6 por grupo familiar.</li>
							<li class="features__list-item bullet-list">El deducible se aplica sobre los gatos una vez aplicado el Plan de salud (ISAPRE o FONASA)</li>
							<li class="features__list-item bullet-list">No tiene carencia a partir del inicio de vigencia del asegurado en la póliza.</li>
							<li class="features__list-item bullet-list">Cobertura I-med para consultas médicas y exámenes.</li>

						</ul>

					</div>
					<div class="columns small-12 medium-6 show-for-medium text-right">
						<img src="assets/img/medico_uc.jpg" />
					</div>
				</div>
			</section>


			<section class="features__contract">
				<div class="row">
					<div class="columns text-center">
						<h3>¿Listo para contratar?</h3>
						<h5>Obtén 3 meses de cobertura sin costo sólo contratando en línea</h5>
						<!-- Cobertura -->
						<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage button large">Contrátalo ahora</a>

						<!-- Cobertura + complementario -->
						<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore button large">Contrátalo ahora</a>
						<!-- End cobertura + complementario -->
					</div>
				</div>
			</section>
		</section>