
	<div id="wrapper" class="wrapper">
		<div id="loading" class="loading">
			<h3 class="text-center">Cargando información</h3>
			<div class="loader">Loading...</div>
		</div>
		<section class="features">
			<section class="features__header z-depth-1">
				<div class="row">
					<div class="features__heading columns small-12">
						<h4 class="heading__sub-title text-center">Conoce más sobre el</h4>
						<h2 class="heading__title text-center">Seguro de gasto médico mayor</h2>
					</div>
					<div class="columns small-12 medium-6">
						<p>Una enfermedad o accidente es, por sí sola, una situación difícil de enfrentar. Si se le suma el costo económico, ésta puede convertirse en una catástrofe para el presupuesto familiar. Pensando en ello, <strong>Red de Salud UC CHRISTUS</strong> en conjunto con <strong>Metlife Chile Seguros de Vida S.A.</strong> han creado un Seguro de gasto médico mayor, especialmente diseñado para protegerte de la catástrofe económica que puede significar un accidente o enfermedad de alto costo.</p>
						<h5 class="features__sub-title heading__sub-title text-center">Principales características del seguro</h5>
						<ul class="features__list">
							<li class="features__list-item bullet-list">La mayor cobertura en Seguro Catastrófica de Clínicas, capital asegurado UF 36.000 por evento.</li>
							<li class="features__list-item bullet-list">Cobertura para pacientes Fonasa e Isapres.</li>
							<li class="features__list-item bullet-list">Deducible UF 60 por evento y asegurado, y sin deducible para las principales enfermedades graves hasta los 50 años de edad.</li>
							<li class="features__list-item bullet-list">Cobertura hasta cumplir los 100 años de edad.</li>
						</ul>
						<p class="features__umbrella"><i class="fa fa-umbrella" aria-hidden="true"></i> <em>Además puedes ampliar tu cobertura con un <a href="">seguro complementario</a></em></p>
					</div>
					<div class="columns small-12 medium-6">
						<div class="parallax-window" data-parallax="scroll" data-image-src="http://media.istockphoto.com/photos/confident-female-doctor-posing-in-her-office-picture-id487605544"></div>
					</div>
				</div>
			</section>


			<section class="features__contract z-depth-3">
				<div class="row">
					<div class="columns text-center">
						<h3>¿Listo para contratar?</h3>
						<p>Obtén 3 meses de cobertura sin costo sólo contratando en línea</p>
						<a href="http://www.segurosaluducchristus.cl/" target="_blank" class="button large">Contrátalo ahora</a>
					</div>
				</div>
			</section>
		</section>