
		<section class="footer">
			<div class="footer__row row">
				<p>Valor referencial en $10.395 (Tarifa desde en base a plan titular solo, sin asegurados dependientes) calculando a la UF 26.053,81 del día 01 de julio de 2016.</p>
				<p>Asegura MetLife Chile Seguros de Vida S.A., RUT N° 99.289.000-2. Condiciones Generales depositadas en la S V S bajo POL 3 2015 0527, Seguro de Catastrófico, POL 3 2013 0223 Seguro Complementario de Salud, CAD 2 2013 0244 y CAD 2 2013 0227 para Cláusula de Exoneración de Prims. Esta información es sólo un resumen de las coberturas, términos y condiciones del Seguro Red de Salud UC CHRISTUS, detalle de éstas se encuentra en las Condiciones Genreales y en las Condiciones Particulares de la Póliza.</p>
				<p>**Los Convenios Adicionales no constituyen cobertura de Seguro, siendo responsabilidad exclusiva de quien otorgue los beneficions, la entrega de los descuentos correspondientes.</p>
				<p>Promoción vigente desde el 01 de junio de 2016 hasta el 31 de diciembre de 2016, sólo para contratación en Chile.</p>
				<p>Los 3 primeros meses de cobertura sin costo del Seguro Salud UC CHRISTUS son exclusivas para la contratación por Internet.</p>
				<p>La Cobertura Ambulatoria para el Seguro Complementario de Salud tiene una carencia de 90 días para prestaciones por enfermedad desde el inicio de vigencia de los asegurados en la póliza.</p>
				<figure>
					<img src="" alt="">
				</figure>
			</div>
		</section>
	</div> <!-- End wrapper -->