
		<section class="footer">
			<div class="footer__row row">
				<div class="columns small-12">
					<p>Está cotización es referencial. Los valores podrán variar según grupo familiar y edades de los asegurados. Valor referencial en $10.531 calculado en base a la UF 26.329,30 del día 9 de diciembre de 2016.</p>

					<p>El riesgo es cubierto por MetLife Chile Seguros de Vida S.A., RUT N° 99.289.000-2. Condiciones Generales depositadas en la SVS bajo POL 3 2015 0527 Seguro de Catastrófico, POL 3 2013 0223 Seguro Complementario de Salud, CAD 2 2013 0244 y CAD 2 2013 0227 para Cláusula de Exoneración de Primas. La presente información es sólo un resumen de las coberturas, términos, exclusiones y condiciones del Seguro Red de Salud UC CHRISTUS, detalle de éstas se encuentra en las Condiciones Generales y en las Condiciones Particulares de la Póliza.</p>

					
					<p>**Los Convenios Adicionales no constituyen cobertura de Seguro, siendo responsabilidad exclusiva de quien otorgue los beneficios, la entrega de los descuentos correspondientes.</p>

					
					<p>Los 3 primeros meses de cobertura sin costo del Seguro Salud UC CHRISTUS son exclusivas para la contratación por Internet.</p>

					<p>Oferta exclusiva para personas naturales, ubicadas en Chile.</p>
				</div>
				<div class="columns small-12">
					<figure class="footer__logo text-center">
						<img src="{{root}}/assets/img/metlife-logo.png" alt="Logotipo MetLife">
					</figure>
				</div>
			</div>
		</section>
	</div> <!-- End wrapper -->