
	<header class="header">
		<div data-sticky-container id="headerContainer" class="header__container">
			<div class="z-depth-4" data-sticky data-options="marginTop:0;" style="width:100%; background-color: #8c51a1;">
				<div class="header__row row align-middle" data-magellan>
					<div class="header__columns columns">
						<figure class="header__logo text-center">
							<a href="#intro">
								<img src="{{root}}/assets/img/logo.png" alt="Logotipo Red de Salud UC - CHRISTUS">
							</a>
						</figure>
						<div id="headerMenu" class="header__menu">
							<i class="fa fa-bars" aria-hidden="true"></i>
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
					</div>
					<div id="headerList" class="header__columns columns">
						<ul class="header__list row align-spaced">
							<li class="header__list-item">
								<a href="#features">Características</a>
							</li>
							<li class="header__list-item">
								<a href="#coverage">Coberturas</a>
							</li>
							<li class="header__list-item">
								<a href="#insurability">Requisitos</a>
							</li>
							<li class="header__list-item">
								<a href="#contract">Tarifas</a>
							</li>
							<li class="header__list-item">
								<!-- Cobertura -->
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage">
									Contrátalo aquí
								</a>

								<!-- Cobertura + complementario -->
								<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore">
									Contrátalo aquí
								</a>
								<!-- End cobertura + complementario -->
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>