
	<section class="insurability">
		<div class="row">
			<h2 class="insurability__title heading__title">Requisitos de asegurabilidad</h2>
			<p class="insurability__description">Son asegurables los clientes que obtengan prestaciones o atenciones médicas en Red de Salud UC CHRISTUS.</p>
		</div>
		<div class="row">
			<div class="columns small-6">
				<p><span>Asegurado:</span></p>
				<p>Titular, Cónyuge, Conviviente civil o pareja</p>
				<p><span>Edad Mínima / Máxima de incorporación:</span></p>
				<p>18 años / 69 años y 364 días</p>
				<p><span>Edad máxima de permanencia:</span></p>
				<p>99 años y 364 días</p>
			</div>
			<div class="columns small-6">
				<p><span>Asegurado:</span></p>
				<p>Hijos y nietos</p>
				<p><span>Edad Mínima / Máxima de incorporación:</span></p>
				<p>14 días / 22 años y 364 días</p>
				<p><span>Edad máxima de permanencia:</span></p>
				<p>23 años y 364 días</p>
			</div>
		</div>

		<div class="row">
			<ul>
				<li>
					<p>FONASA no aplica en Clínica San Carlos de Apoquindo.</p>
				</li>
				<li>
					<p>Exclusivo para prestaciones en Red de Salud UC CHRISTUS.</p>
				</li>
				<li>
					<p>La cobertura comenzará su vigencia a partir del primer día del mes siguiente a la contratación. En consecuencia todas aquellas enfermedades que hayan sido diagnosticadas o accidentes ocurridos con anterioridad a la fecha de inicio de vigencia se considerarán preexistentes.</p>
				</li>
				<li>
					<p><a href="">Ver exclusiones de cobertura</a></p>
				</li>
			</ul>
		</div>
	</section>