
	<section class="insurability" id="insurability" data-magellan-target="insurability">
		<div class="insurability__row row">
			<div class="columns text-center">
				<h2 class="insurability__title heading__title">Requisitos de asegurabilidad</h2>
				<p class="insurability__description">Son asegurables los clientes que obtengan prestaciones o atenciones médicas en Red de Salud UC CHRISTUS.</p>
			</div>
		</div>

		<!-- Cobertura -->

		<div class="changeCoverage insurability__row row">
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Titular, Cónyuge, Conviviente civil o pareja</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">18 años / 69 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">99 años y 364 días</p>
				</div>
			</div>
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Hijos y nietos</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">14 días / 22 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">23 años y 364 días</p>
				</div>
			</div>
		</div>

		<!-- Cobertura Complementaria -->

		<div class="changeCoverageMore insurability__row row">
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Titular, Cónyuge, Conviviente civil o pareja</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">18 años / 59 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">64 años y 364 días</p>
				</div>
			</div>
			<div class="columns small-12 medium-6">
				<div class="insurability__box text-center">
					<p class="insurability__box__desc"><span>Asegurado:</span></p>
					<p class="insurability__box__desc">Hijos y nietos</p>
					<p class="insurability__box__desc"><span>Edad Mínima / Máxima de incorporación:</span></p>
					<p class="insurability__box__desc">14 días / 22 años y 364 días</p>
					<p class="insurability__box__desc"><span>Edad máxima de permanencia:</span></p>
					<p class="insurability__box__desc">23 años y 364 días</p>
				</div>
			</div>
		</div>

		<!-- End Cobertura Complementaria -->

		<div class="insurability__row row">
			<ul class="insurability__list">
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Para la contratación del Seguro Complementario es requisito la contratación del Seguro Catastrófico.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">FONASA no aplica en Clínica San Carlos de Apoquindo.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">Exclusivo para prestaciones en Red de Salud UC CHRISTUS.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc">La cobertura comenzará su vigencia a partir del primer día del mes siguiente a la contratación. En consecuencia todas aquellas enfermedades que hayan sido diagnosticadas o accidentes ocurridos con anterioridad a la fecha de inicio de vigencia se considerarán preexistentes.</p>
				</li>
				<li class="insurability__list-item bullet-list">
					<p class="insurability__list-item__desc"><a data-open="exclution">Ver exclusiones de cobertura</a></p>
					<div class="reveal" id="exclution" data-reveal>
					  <h3 class="insurability__list-item__title text-center">EXCLUSIONES</h3>
					  <ul>
					  	<li class="bullet-list"><p>Para el Seguro de Prestaciones Médicas de Alto Costo, regirán las exclusiones establecidas en el artículo N°4 de las Condiciones Generales registradas en el depósito de pólizas de la Superintendencia de&nbsp; Valores y Seguros bajo el código <a href="http://redsalud.uc.cl/medios/segurosaluduc/POL-320150527-Prestaciones-Medicas-de%20Alto-Costo.pdf" target="_blank">POL 3 2015 0527</a>. Sin perjuicio de lo señalado, se deja sin efecto la exclusión establecida en la letra h) , letra e) y letra q) número vii, Artículo 4º del <a href="http://redsalud.uc.cl/medios/segurosaluduc/POL-320150527-Prestaciones-Medicas-de%20Alto-Costo.pdf" target="_blank">POL 3 2015 0527</a>.</p></li>
					  	<li class="bullet-list"><p>Para el Seguro Complementario de Salud, regirán las exclusiones establecidas en el artículo N°6 de las Condiciones Generales registradas en el Depósito de Pólizas de la Superintendencia de Valores y Seguros bajo el código <a href="http://redsalud.uc.cl/medios/segurosaluduc/POL320130223-Colectivo-Complementario-de-Salud.pdf" target="_blank">POL 3 2013 0223</a>, a excepción de la exclusión k) (en lo relativo a: aparatos auditivos, lentes o anteojos ópticos o de contacto, prótesis y ortesis) la que se considerará cubierta por esta cobertura.</p></li>
					  </ul>
					  <button class="close-button" data-close="" aria-label="Close modal" type="button">
      		    <span aria-hidden="true">×</span>
      		  </button>
					</div>
				</li>
			</ul>
		</div>
	</section>