
	<section class="intro z-depth-3">
		<section class="intro__header">
			<div class="row">
				<div class="intro__columns columns small-6">
						<h2 class="heading__title">Proteje a tu familia</h2>
						<h2 class="heading__title">Desde $ 10.395</h2>
						<section class="intro__price">
							<a href="" class="intro__button button large">Contrátalo ahora</a>
						</section>
				</div>
			</div>
		</section>

		<div class="intro__content">
			<section class="intro__plan">
				<div class="row">
					<div class="columns">
						<p class="intro__plan__description text-center">Para conocer cuál es el plan que mejor se adecua a tus características cuéntanos un poco más sobre ti:</p>
						<div class="intro__plan__row row align-middle">
							<div class="intro__plan__columns columns small-12 large-3">
								<h6 class="intro__plan__sub-title">Tipo de seguro</h6>
								<select name="" id="">
									<option value="">Seguro gasto médico mayor</option>
									<option value="">Seguro gasto médico mayor + Complementario</option>
								</select>
							</div>
							<div class="intro__plan__columns columns small-12 large-4">
								<h6 class="intro__plan__sub-title">Cantidad de asegurados:</h6>
								<select name="" id="">
									<option value="">Titular sin asegurados dependientes</option>
									<option value="">Titular más un asegurado dependiente</option>
									<option value="">Titular más dos asegurados dependientes</option>
									<option value="">Titular más tres asegurados dependientes</option>
									<option value="">Titular más cuatro asegurados dependientes</option>
								</select>
							</div>
							<div class="intro__plan__columns columns small-12 large-3">
								<h6 class="intro__plan__sub-title">Edad del asegurado de mayor edad:</h6>
								<select name="" id="">
									<option value="">Entre 18 y 64 años</option>
									<option value="">Entre 65 y 69 años</option>
									<option value="">Entre 70 y 80 años</option>
									<option value="">Entre 81 y 89 años</option>
									<option value="">90 años hasta cumplir 100</option>
								</select>
							</div>
							<div class="intro__plan__columns columns small-12 large-2">
								<a href="" class="button large">Ver seguros</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

	</section>