
	<section class="intro">
		<div class="intro__header">
			<div class="row">
				<div class="columns">
					<h2 class="heading__title text-center">Gracias por tu interés en el seguro</h2>
					<h2 class="heading__title text-center">Gasto médico mayor de salud UC Christus</h2>
				</div>
			</div>
		</div>

		<section class="intro__plan">
			<div class="row">
				<div class="columns">
					<p class="intro__plan__description text-center">Para conocer cuál es el plan que mejor se adecua a tus características cuéntanos un poco más sobre ti:</p>
					<div class="intro__plan__row row">
						<div class="intro__plan__columns columns small-4">
							<h6 class="intro__plan__sub-title">Tipo de seguro</h6>
							<select name="" id="">
								<option value="">Seguro gasto médico mayor</option>
							</select>
						</div>
						<div class="intro__plan__columns columns small-4">
							<h6 class="intro__plan__sub-title">Cantidad de asegurados:</h6>
							<select name="" id="">
								<option value="">Titular sin asegurados dependientes</option>
							</select>
						</div>
						<div class="intro__plan__columns columns small-4">
							<h6 class="intro__plan__sub-title">Edad del asegurado de mayor edad:</h6>
							<select name="" id="">
								<option value="">Entre 18 y 64 años</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="intro__price">
			<div class="row">
				<div class="columns text-center">
					<h5 class="intro__price__title">Llévalo por solo:</h5>
					<p class="intro__price__amount"><span>$</span>10.395</p>
					<h5 class="intro__price__sub-amount">UF 0,399</h5>
					<a href="" class="button">
						<h3>Contrátalo en línea</h3>
						<p><em>Y obtén 3 meses de cobertura sin costo</em></p>
					</a>
				</div>
			</div>
		</div>
	</section>