
	<section class="intro z-depth-3" id="intro" data-magellan-target="intro">
		<figure class="intro__bg">
			<img src="{{root}}/assets/img/iStock-535851115.jpg" alt="Imágen de fondo" />
			<section class="intro__header">
				<div class="row">
					<div class="intro__columns columns small-12 medium-7">
							<h3 class="heading__sub-title">Sólo contratando tu seguro UC en línea</h3>
							<h2 class="heading__title">Obtén los 3 primeros meses</h2>
							<h2 class="heading__title">De protección sin costo</h2>
					</div>
				</div>
			</section>
			<div class="intro__content">
				<section class="intro__plan">
					<div class="row">
						<div class="columns">
							<p class="intro__plan__description text-center">Selecciona las distintas opciones para conocer cuál es el plan que mejor se adecua a tus necesidades</p>

							<div class="intro__plan__row row ">
								<div class="intro__plan__columns columns small-12 medium-6">
									<div class="row">
										<div class="columns small-12 medium-4">
											<h6 class="intro__plan__sub-title">Tipo de seguro:</h6>
										</div>
										<div class="columns small-12 medium-8">
											<select name="" id="secure" class="secure">
												<option value="secureMayor">Gastos médicos mayores</option>
												<option value="secureMayorMore">Gastos médicos mayores + Complementario</option>
											</select>
										</div>
										<div class="columns small-12 medium-4">
											<h6 class="intro__plan__sub-title">Cantidad de asegurados:</h6>
										</div>
										<div class="columns small-12 medium-8">
											<select name="" id="secureCan" class="secureCan">
												<option value="titular1"
														data-uf18="0.40"
														data-uf25="0.52"
														data-uf35="0.57"
														data-uf40="0.63"
														data-uf45="1.03"
														data-uf50="1.48"
														data-uf55="2.05"
														data-uf60="2.75"
														data-more-uf18="1.29"
														data-more-uf25="1.41"
														data-more-uf35="1.46"
														data-more-uf40="1.52"
														data-more-uf45="1.92"
														data-more-uf50="2.37"
														data-more-uf55="2.94"
														data-more-uf60="3.64">
														Titular sin asegurados dependientes
												</option>
												<option value="titular2"
														data-uf18="0.69"
														data-uf25="0.90"
														data-uf35="0.99"
														data-uf40="1.16"
														data-uf45="1.82"
														data-uf50="2.66"
														data-uf55="3.80"
														data-uf60="5.64"
														data-more-uf18="2.13"
														data-more-uf25="2.35"
														data-more-uf35="2.44"
														data-more-uf40="2.61"
														data-more-uf45="3.26"
														data-more-uf50="4.11"
														data-more-uf55="5.25"
														data-more-uf60="7.08">
														Titular más un asegurado dependiente
												</option>
												<option value="titular3"
														data-uf18="0.85"
														data-uf25="1.12"
														data-uf35="1.24"
														data-uf40="1.44"
														data-uf45="2.27"
														data-uf50="3.35"
														data-uf55="4.84"
														data-uf60="7.41"
														data-more-uf18="2.56"
														data-more-uf25="2.83"
														data-more-uf35="2.95"
														data-more-uf40="3.14"
														data-more-uf45="3.98"
														data-more-uf50="5.06"
														data-more-uf55="6.55"
														data-more-uf60="9.12">
														Titular más dos asegurados dependientes
												</option>
												<option value="titular4"
														data-uf18="0.97"
														data-uf25="1.28"
														data-uf35="1.42"
														data-uf40="1.64"
														data-uf45="2.61"
														data-uf50="3.85"
														data-uf55="5.58"
														data-uf60="8.62"
														data-more-uf18="2.87"
														data-more-uf25="3.18"
														data-more-uf35="3.32"
														data-more-uf40="3.53"
														data-more-uf45="4.51"
														data-more-uf50="5.75"
														data-more-uf55="7.48"
														data-more-uf60="10.51">
														Titular más tres asegurados dependientes
												</option>
											</select>
										</div>

										<div class="columns small-12 medium-4">
											<h6 class="intro__plan__sub-title">Edad del asegurado de mayor edad:</h6>
										</div>
										<div class="columns small-12 medium-8">
											<select name="" id="secureDate" class="secureDate">
												<option value="18">Entre 18 años - 24 años y 364 días</option>
												<option value="25">Entre 25 años - 34 años y 364 días</option>
												<option value="35">Entre 35 años - 39 años y 364 días</option>
												<option value="40">Entre 40 años - 44 años y 364 días</option>
												<option value="45">Entre 45 años - 49 años y 364 días</option>
												<option value="50">Entre 50 años - 54 años y 364 días</option>
												<option value="55">Entre 55 años - 59 años y 364 días</option>
												<option value="60">Entre 60 años - 69 años y 364 días</option>
											</select>
										</div>
									</div>
								</div>
								<div class="intro__plan__columns columns small-12 medium-6 text-center">
									<div class="intro__price__plan">
		      					<h3 class="intro__price__title">Precio de tu plan</h3>
		      					<p class="intro__price__amount"><span class="price-peso">$ <span class="pricePeso"></span></span><span class="intro__price__second-amount">UF <span class="intro__price__second-amount priceUF"></span> / MES</span></p>
		      					<p class="intro__price__sub-title">Ahorra <span class="priceSave"></span></p>
		      				</div>

		      				<!-- Cobertura -->
		      				<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlus" target="_blank" class="changeCoverage contract__price__button button">
		      					<h3>Contrátalo en línea</h3>
		      					<p><em>Y obtén 3 meses de cobertura sin costo</em></p>
		      				</a>

		      				<!-- Cobertura + complementario -->
		      				<a href="https://segurosaluduc.metlife.cl/VentaWeb/Formulario/ProductoSaludUCChristusPlusPlus" target="_blank" class="changeCoverageMore contract__price__button button">
		      					<h3>Contrátalo en línea</h3>
		      					<p><em>Y obtén 3 meses de cobertura sin costo</em></p>
		      				</a>
		      				<!-- End cobertura + complementario -->

								</div>
							</div>
							<p class="intro__plan__description text-center">Está cotización es referencial. Los valores podrán variar según grupo familiar y edades de los asegurados. Valor referencial en $10.531 calculado en base a la UF 26.329,30 del día 9 de diciembre de 2016.</p>
						</div>
					</div>
				</section>
			</div>
		</figure>


	</section>