
	<section class="maps show-for-medium z-depth-1">
		<div class="maps__row row">
			<div class="columns small-12 text-center">
				<h2 class="maps__title heading__title">RED UC CHRISTUS</h2>
			</div>
			<div class="columns small-12 text-center">
				<ul class="maps__tabs__list tabs row align-center" data-tabs id="maps-tabs">
				  <li class="maps__tabs__list-item tabs-title is-active">
				  	<a id="show_hospital" href="#panel1" aria-selected="true">Hospitales y Clínicas</a>
				  </li>
				  <li class="maps__tabs__list-item tabs-title">
				  	<a id="show_UTM" href="#panel2">U. Toma de Muestras</a>
				  </li>
				  <li class="maps__tabs__list-item tabs-title">
				  	<a id="show_CM" href="#panel2">Centros Médicos</a>
				  </li>
				</ul>
			</div>
	   </div>
	   <div class="row maps__main">
			<div id="menu" class="maps__main__menu">
                <ul id="hospital" class="content" style="display: block">
                    <li class="titulo">Hospitales y Clínicas</li>

                    <li><a href="javascript:showMap('Clínica UC','<b>Ubicación</b> Lira 40 Metro U. Católica<br /> Santiago<br /> <br /><b>Teléfono</b><br />22384 6000<br />','-33.44183','-70.64121','hospital','http://redsalud.uc.cl/medios/thumbnail/clinica-lira/home-clinica-lira-288x80.png');">Clínica UC</a></li>

                    <li><a href="javascript:showMap('Clínica San Carlos de Apoquindo','<b>Ubicación</b> Camino El Alba 12351,  Las Condes.<br /><b>Teléfono</b><br />22754 8700 Mesa Central<br />22754 8800 Reserva de horas<br /><b>600 9450450 Urgencia</b><br /><br />','-33.400588','-70.509371','hospital','http://redsalud.uc.cl/medios/thumbnail/clinica-san-carlos/sancarlos-288x80.png');">Clínica San Carlos de Apoquindo</a></li>

                    <li><a href="javascript:showMap('Hospital Clínico','<b>Ubicación</b> Marcoleta 367 Metro U. Católica.<br /> <br /> <br /><b>Teléfono</b><br /><b>Mesa Central:</b> 22354 3000<br />','-33.442137','-70.64010','hospital','http://redsalud.uc.cl/medios/thumbnail/hospitalclinico/hclinico2-288x80.png');">Hospital Clínico</a></li>
                </ul>
                <ul id="UTM" class="content">
                    <li class="titulo">U. Toma de Muestras</li>

                    <li><a href="javascript:showMap('Centro de Especialidades Médicas','<b>Ubicación</b> Marcoleta 350, Metro U. Católica<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.442137','-70.64010','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/utm-cem-288x80.png');">Centro de Especialidades Médicas</a></li>

                    <li><a href="javascript:showMap('Edificio Médico Alcántara','<b>Ubicación</b> Av. Apoquindo 3990 Metro Alcántara<br /> <br /><b>Teléfono</b><br />22354 8636','-33.415177','-70.588915','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/blancobase-288x80.png');">Edificio Médico Alcántara</a></li>

                    <li><a href="javascript:showMap('Piedra Roja','<b>Ubicación</b> Av. Paseo Colina Sur 14500, local 157, Chicureo, Colina<br /><b>Teléfono</b><br /><b>Informaciones y códigos: </b> 22354 8636','-33.276871','-70.628038','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/cab_piedra_roja-288x80.jpg');">Piedra Roja</a></li>

                    <li><a href="javascript:showMap('Centro Médico Irarrázaval','<b>Ubicación</b> Av. Irarrázaval 4949, Ñuñoa<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.454704','-70.577827','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/utm-irarrazaval-288x80.png');">Centro Médico Irarrázaval</a></li>

                    <li><a href="javascript:showMap('Alto Las Condes','<b>Ubicación</b> Av. Kennedy 9001, local 1106<br /> (Jumbo)<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.390334','-70.545957','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/03-288x80.png');">Alto Las Condes</a></li>

                    <li><a href="javascript:showMap('Bilbao','<b>Ubicación</b> Av. Francisco Bilbao 4144, local 180<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.430263','-70.578747','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/09-288x80.png');">Bilbao</a></li>

                    <li><a href="javascript:showMap('Consistorial','<b>Ubicación</b> Av. Consistorial 3349, local 22, Peñalolén<br /> <br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.48797','-70.549151','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM_Consistorial-slide-288x80.png');">Consistorial</a></li>

                    <li><a href="javascript:showMap('Costanera Center','<b>Ubicación</b> Av. Andrés Bello 2425, local 202, Providencia<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.417683','-70.608252','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/costanera-288x80.png');">Costanera Center</a></li>

                    <li><a href="javascript:showMap('Almirante Pastene','<b>Ubicación</b> Almirante Pastene 259,<br /> Metro Manuel Montt<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.426552','-70.620911','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/utm-almirante-pastene-288x80.png');">Almirante Pastene</a></li>

                    <li><a href="javascript:showMap('Los Dominicos','<b>Ubicación</b> Av. Patagonia 99, local 2, Las Condes. Metro Los Dominicos<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.4074581','-70.5445665','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/losdominicos-288x80.png');">Los Dominicos</a></li>

                    <li><a href="javascript:showMap('La Dehesa','<b>Ubicación</b> Av. El Rodeo 12850, local 38 B<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.358207','-70.515632','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/blancobase-288x80.png');">La Dehesa</a></li>

                    <li><a href="javascript:showMap('Portal La Reina','<b>Ubicación</b> Av. Francisco Bilbao 8750, local 3024<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.428133','-70.540625','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/phurtado-288x80.png');">Portal La Reina</a></li>

                    <li><a href="javascript:showMap('Arauco-Maipú','<b>Ubicación</b> Av. Américo Vespucio 1001, local 1089, Maipú<br /> <br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.48237','-70.75199','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/araucomaipu-288x80.png');">Arauco-Maipú</a></li>

                    <li><a href="javascript:showMap('Maipú','<b>Ubicación</b> Av. Los Pajaritos 3044, local 3<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.49966','-70.757511','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/centromaipu-288x80.png');">Maipú</a></li>

                    <li><a href="javascript:showMap('Lira','<b>Ubicación</b> Lira 85 Piso 1<br /> Metro U. Católica<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.443696','-70.641167','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/cab_lira-288x80.jpg');">Lira</a></li>

                    <li><a href="javascript:showMap('Clínica San Carlos de Apoquindo','<b>Ubicación</b> Camino El Alba 12.351, Las Condes<br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-33.400588','-70.509371','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/UTM/sancarlos-288x80.png');">Clínica San Carlos de Apoquindo</a></li>

                    <li><a href="javascript:showMap('Centro Médico San Joaquín','<b>Ubicación</b> Av. Vicuña Mackenna 4686, Piso 1<br /> <br /><b>Teléfono</b><br /><b>Informaciones y códigos: </b> 22354 8636','-33.497349','-70.6148','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/sanjoaquin-288x80.png');">Centro Médico San Joaquín</a></li>

                    <li><a href="javascript:showMap('Concón','<b>Ubicación</b> Av. Concón Reñaca 3850, local 1040<br /> <br /> <br /><b>Teléfono</b><br /><b>Informaciones y códigos:</b> 22354 8636','-32.951089','-70.554447','utm','http://redsalud.uc.cl/medios/thumbnail/laboratorios/header-concon-288x80.png');">Concón</a></li>
                </ul>
                <ul id="CM" class="content">
                    <li class="titulo">Centros Médicos</li>

                    <li><a href="javascript:showMap('Centro Médico San Joaquín', '<b>Ubicación</b> Av. Vicuña Mackenna 4686 <br /> Metro San Joaquín<br /> <br /><b>Teléfono</b><br />Reserva horas e informaciones<br />22676 7000  ','-33.497349','-70.61481','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/sanjoaquin-288x80.png');">Centro Médico San Joaquín</a></li>

                    <li><a href="javascript:showMap('Centro de Especialidades Médicas', '<b>Ubicación</b> Marcoleta 350  Metro U. Católica<br /> Santiago <br /><b>Teléfono</b><br /><b>Reserva de Horas</b><br />22676 7000','-33.442137','-70.64010','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/especialidades-288x80.png');">Centro de Especialidades Médicas</a></li>

                    <li><a href="javascript:showMap('Centro Médico Irarrázaval', '<b>Ubicación</b> Av. Irarrázaval 4949 Ñuñoa<br /><b>Teléfono</b><br /><b>Informaciones: </b><br />22944 9072 - 22944 9073<br /><b>Reserva de horas:</b>  22676 7000 ','-33.454704','-70.577827','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/irarrazaval-288x80.png');">Centro Médico Irarrázaval</a></li>

                    <li><a href="javascript:showMap('Centro Médico Lira', '<b>Ubicación</b> Lira 85 Metro U. Católica<br /> Santiago<br /><b>Teléfono</b><br />Reserva de horas:<br />22676 7000<br />','-33.443696','-70.641167','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/blancobase-288x80.png');">Centro Médico Lira</a></li>

                    <li><a href="javascript:showMap('Centro de Cáncer', '<b>Ubicación</b> Diagonal Paraguay 319 Metro U. Católica<br /> <br /><b>Teléfono</b><br />Reserva de horas<br />22676 7000','-33.443795','-70.638108','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/cancer2-288x80.png');">Centro de Cáncer</a></li>

                    <li><a href="javascript:showMap('Centro Médico San Jorge', '<b>Ubicación</b> Nevería 4444 Metro Escuela Militar<br /> <br /><b>Teléfono</b><br /><b>Reserva de horas</b> 2267 67000<br />','-33.41532','-70.582764','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/centros_home/centromedico_san_jorge-288x80.png');">Centro Médico San Jorge</a></li>

                    <li><a href="javascript:showMap('Edificio Médico Alcántara', '<b>Ubicación</b> Av. Apoquindo 3990<br /> Metro Alcántara<br /> <br /><b>Teléfono</b><br /><b>Informaciones</b> <br />Teléfono 22676 7000','-33.415177','-70.588915','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/alcantaranuevo-288x80.png');">Edificio Médico Alcántara</a></li>

                    <li><a href="javascript:showMap('Unidad Médica de Medicina Deportiva', '<b>Ubicación</b> Camino Las Flores 13.000 (Club Deportivo UC)<br /><b>Teléfono</b><br />Reserva de horas<br />2241 24487 - 2241 24486','-33.443538','-70.64099','centro','http://redsalud.uc.cl/medios/thumbnail/centros_medicos/blancobase-288x80.png');">Unidad Médica de Medicina Deportiva</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
	       <div id="map" class="map"></div>
        </div>
	  </div>
		<div class="maps__doubt text-center">
			<h3 class="maps__doubt__title">¿Te queda alguna duda con tu seguro?</h3>
			<!-- <h3 class="maps__doubt__desc"><a data-open="modalFaq">Revisa nuestras preguntas frecuentes</a></h3> -->
			<h3 class="maps__doubt__desc">Llámanos al <strong><a href="tel:+56226767070">+562 2676 7070</a></strong></h3>
		</div>
		<div class="reveal" id="modalFaq" data-reveal>
		  <h1>Awesome. I Have It.</h1>
		  <p class="lead">Your couch. It is mine.</p>
		  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		  <button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</section>